Repository FRONTENDSCHOOL10/gogo7, pull requests merged in 2024-07, with the labels that each got.

#14 Feature/onboarding/section0/kjy
  docs/facebook.svg
  docs/icon.svg
  docs/instagram.svg
  docs/logo_2.svg
  docs/twitter.svg
  docs/vite.svg
  docs/youtube.svg
  src/layout/header.js
  src/pages/onboarding/onboarding_header.html
  src/pages/onboarding/onboarding_header.js
  src/styles/pages/onboarding_header.scss
  src/styles/utils/_variables.scss
Labels: Refactory, Feature, HTML & CSS

#22 refactory: 코드 리팩토링(온보딩 페이지 병합)
  index.html
  main.js
  src/pages/onboarding/onboarding.js
  src/pages/onboarding/onboarding_footer.html
  src/pages/onboarding/onboarding_footer.js
  src/pages/onboarding/onboarding_header.js
  src/pages/onboarding/onboarding_message_title.js
  src/pages/onboarding/onboarding_section1.html
  src/pages/onboarding/onboarding_section1.js
  src/pages/onboarding/onboarding_section2.html
  src/pages/onboarding/onboarding_section2.js
  src/styles/pages/onboarding/onboarding_footer.scss
  src/styles/pages/onboarding/onboarding_header.scss
  src/styles/pages/onboarding/onboarding_section1.scss
  src/styles/pages/onboarding/onboarding_section2.scss
Labels: Refactory

#28 style: onboarding section0 클래스명 및 스타일 수정
  src/pages/onboarding/onboarding_header.html
  src/styles/pages/onboarding/onboarding_header.scss
Labels: HTML & CSS

#35 test : 두 번째 배포(docs 포함)
  docs/assets/main--1tRPFcD.css
  docs/assets/main-EXmJwGsR.js
  docs/facebook.svg
  docs/icon.svg
  docs/index.html
  docs/instagram.svg
  docs/logo_2.svg
  docs/twitter.svg
  docs/vite.svg
  docs/youtube.svg
Labels: Test

#44 BugFix: 뷰포트 800px쯤 일어나는 현상 수정
  index.html
  main.js
  main.scss
Labels: Feature, HTML & CSS

#45 Feature/header logout/kjy
  main.scss
  src/layout/header.js
  src/layout/index.html
  src/styles/layout/_header.scss
Labels: HTML & CSS

#49 Feature/TAING 중간 마무리
  src/api/getPbImageURL.js
  src/api/getRecords.js
  src/api/pocketbase.js
  src/library/index.js
  src/library/insert.js
  src/library/renderImgList.js
  src/pages/taing/index.html
  src/pages/taing/taing.js
  src/pages/taing/taing.scss
  vite.config.js
Labels: Feature, HTML & CSS

#54 Refactory: loginID 경로추가
  src/pages/loginID/index.html
  src/pages/loginID/login_ID.html
  src/styles/layout/_header.scss
  src/styles/utils/_variables.scss
  vite.config.js
Labels: HTML & CSS

#58 Feature/sprite/kjy
  public/icons/stack.svg
  src/layout/index.html
  src/styles/layout/header.scss
Labels: Feature, Conflict

#68 Feature/Loginid/modal/cdg
  index.html
  public/image/check.svg
  src/pages/loginID/index.html
  src/pages/loginID/login_ID.js
  src/pages/main_modal/index.html
  src/pages/main_modal/myInfo.js
  src/pages/search_modal/index.html
  src/pages/search_modal/search_modal.js
  src/styles/pages/login_ID.scss
  src/styles/pages/search_modal.scss
Labels: Feature, HTML & CSS

#76 Feature/password/kjy
  src/pages/findpw/find_pw.js
  src/pages/findpw/find_pw.scss
  src/pages/findpw/index.html
Labels: Feature

#77 Feature/search modal/cdg
  src/pages/search_modal/index.html
  src/styles/pages/login_ID.scss
  src/styles/pages/search_modal.scss
Labels: Feature, HTML & CSS

#81 Feature/test
  index.html
  public/icons/stack.svg
  src/pages/findId/index.html
  src/pages/findpw/index.html
  src/pages/loginID/index.html
  src/styles/pages/regist.scss
  vite.config.js
Labels: Refactory, HTML & CSS

#92 Feature/finding password/kjy
  src/pages/findpw/find_pw.js
  src/pages/findpw/find_pw.scss
  src/pages/findpw/index.html
  vite.config.js
Labels: Feature, HTML & CSS

#96 Feature/search modal/cdg
  index.html
  main.scss
  src/api/getRecords.js
  src/pages/loginID/index.html
  src/pages/loginID/login_ID.js
  src/pages/search_modal/index.html
  src/pages/search_modal/search_modal.js
  src/styles/pages/search_modal.scss
Labels: Feature

#104 Feature/popup/cdg
  public/icons/stack.svg
  src/pages/loginID/index.html
  src/pages/loginID/login_ID.js
  src/pages/popUp/index.html
  src/pages/popUp/popUp.js
  src/pages/search_modal/search_modal.js
  src/styles/pages/login_ID.scss
  src/styles/pages/popUp.scss
Labels: Feature, HTML & CSS

#106 Feature/header/kjy
  main.js
  src/layout/header.js
  src/layout/header222.js
  src/layout/index.html
  src/pages/header/header.js
  src/pages/header/header.scss
  src/pages/header/index.html
  src/pages/taing/index.html
  src/pages/taing/taing.js
  src/pages/taing/taing.scss
  src/styles/layout/header.scss
  src/styles/pages/search_modal.scss
Labels: Feature, HTML & CSS

#110 Feature/style header/kjy
  index.html
  main.js
  main.scss
  public/icons/icon.svg
  src/styles/layout/header.scss
  src/styles/pages/search_modal.scss
Labels: HTML & CSS

#121 Feature/popup/cdg
  src/pages/popUp/popUp.js
  src/styles/pages/popUp.scss
Labels: Feature

#124 Refactory/style error
  index.html
  src/api/defaultAuthdata.js
  src/layout/header.js
  src/library/defaultAuthdata.js
  src/library/index.js
  src/library/validation.js
  src/pages/findId/find_id.js
  src/pages/findId/find_id.scss
  src/pages/findId/index.html
  src/pages/findpw/find_pw.js
  src/pages/findpw/index.html
  src/pages/loginID/index.html
  src/pages/loginID/login_ID.js
  src/pages/loginID/login_ID.scss
  src/pages/myInfo_modal/myInfo_modal.js
  src/pages/myInfo_modal/myInfo_modal.scss
  src/pages/popUp/index.html
  src/pages/profile_edit/index.html
  src/pages/profile_edit_detail/index.html
  src/pages/profile_edit_detail/profile_edit_detail.js
  src/pages/profile_edit_detail/profile_edit_detail.scss
  src/pages/profile_select/index.html
  src/pages/profile_select/profile_select.js
  src/pages/register/index.html
  src/pages/register/regist.js
  src/pages/register/regist.scss
  src/pages/taing/index.html
  src/pages/taing/taing.js
  src/pages/taing/taing.scss
  src/styles/layout/header.scss
  src/styles/layout/search_modal.scss
  src/styles/pages/popUp.scss
  src/styles/pages/profile.scss
  src/styles/utils/_variables.scss
Labels: BugFix, Refactory, Conflict
